.app-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-content {
display: flex;
flex-direction: row;
  background-color: #141625;
  color: white;
}


html, body {
  margin: 0;
  padding: 0;
}

.content-container {
  width: 100%;
}